.wrapper-cart-screen {
    position: fixed;
    display: flex;
    height: 100vh;
    flex-direction: column;
    top: 1px;
    right: -15px;
    background-color: white;
    z-index: 9999;
    box-shadow: -2px 3px 13px black;
    border: 5px solid #daabbd;
    width: 0%;
    transition: width 0.3s;
}

.show-cart {
    width: calc(40vw + 50px);
    transition: width 0.3s;
    height: 100vh;
    position: fixed;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    align-items: center;
    top: 1px;
    right: 0px;
    background-color: white;
    z-index: 9999;
    transition: width 0.3s;
    min-height: calc(100vh);
    box-shadow: -2px 3px 13px black;
    border: 5px solid #daabbd;
    overflow-x: hidden;
    gap: 10px;
}

.header-cart {
    width: 100%;
    display: flex;
    position: relative;
    padding: 10px;
    background-color: #daabbd;
    align-items: center;
    justify-content: space-between;
}

.header-cart h1 {
    font-size: 20px;
    font-weight: 1;
}

.header-cart img {
    width: 24px;
}

.cart-wrapper-products {
    position: relative;
    width: 95%;
    margin: .5em;
    padding: .8em;
    background-color: #f6f6f6;
    height: fit-content;
}

.subtotal-Wrapper-div {
    width: 90%;
    height: fit-content;
    border-bottom: 1px solid #8080804b;
}

.subtotal-content {
    display: flex;
    justify-content: space-between;
    color: #daabbd;
}

.fretecalc-wrapper-div {
    width: 90%;
    display: block;
    height: fit-content;
}

.fretecalc-content {
    color: #daabbd;
}
.linha p{
    display: flex;
    align-items: center;
}

.fretecalc-content img {
    width: 24px;
    opacity: .5;
    margin-right: 4px;
}

.fretecalc-content a {
    font-size: small;
    color: #daabbdb2;
}
.fretecalc-content a:hover{
    color: #cb95aa;
}

.input-fretecalc-div {
    display: flex;
    width: 100%;
}

.input-fretecalc {
    width: 60%;
    outline: 0;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border: 1px solid #daabbd;
    padding: .5em;
    color: #daabbd;
}
.input-fretecalc::placeholder {
    color: #daabbd6d;
}

.button-fretecalc {
    width: 40%;
    color: white;
    background-color: #daabbd;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    letter-spacing: 2px;
    font-weight: bold;
}

.payment-wrapper {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 90%;
    height: 10%;
    background-color: #fefefe;
    border-top: 1px solid #8080804b;
}

.price-wrapper {
    color: #daabbd;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}

.button-div-payment {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}
.button-div-payment button{
    cursor: not-allowed;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #f1f1f19f; 
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: #daabbdc5;
}
::-moz-scrollbar {
    width: 10px;
}

::-moz-scrollbar-thumb {
    background-color: #f1f1f1f1; 
    border-radius: 6px;
}

::-moz-scrollbar-track {
    background-color: #daabbdc5;
}
::-ms-scrollbar {
    width: 10px;
}

::-ms-scrollbar-thumb {
    background-color: #f1f1f19f; 
    border-radius: 6px;
}

::-ms-scrollbar-track {
    background-color: #daabbdc5;
}

@media(width <500px) {
    .show-cart {
        width: 100%;
    }
}