.center {
    background-color: #deaabb;
    position: relative;
    z-index: 1;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 0;
    box-shadow: 0px 7px 10px rgba(159, 157, 157, 0.873);
}

.logo img {
    width: 90px;
    padding-bottom: 0.5em;
    cursor: pointer;
}
.menu{
    width: 30%;
}

.menu-list {
    display: flex;
    font-size: larger;
    justify-content:center;
}

.item-menu {
    padding-left: 1em;
    font-weight: 400;
    list-style: none;
    cursor: pointer;
}

.menu-list li:hover{
    transition: 0.8s;
    color: rgba(65, 58, 65, 0.656); 
}
.input-search-button{
    position: absolute;
    top: 2px;
    right: 2px;
    border: 0;
    width: 26px;
    height: 24px;
    background-color:white;
    opacity: 1;
}
.search-image-button{
    width: 28px;
}
.input-search-button:hover{
    opacity: 0.7;
    transition: 0.8s;
}


.icons-log-cart-div {
    display: flex;
    justify-content: space-around;
}

.icons-search-menu-mobile {
    display: flex;
    justify-content: space-around;
}

.icons-log-cart {
    padding: 0 1em;

}

.img-log-cart {
    padding-left: 0.7em;
    width: 38px;
}

.label-log-cart {
    cursor: pointer;
}

.search-div {
    position: relative;
    width: 25%;
    display: flex;
    align-items: center;
}
.search-input {
    width: 100%;
    height: 2.2em;
    border: 0;
    border-radius: 5px;
    outline: 0;
    padding: 5px;
}
.search-input::-webkit-input-placeholder{
    color: #deaabb7d;
}
.search-input-label{
    margin-left: 5px;
    cursor: pointer;
}

.search-mobile {
    display: none;
    padding: 0 1em;
}

.menu-mobile {
    display: none;
    padding: 0 1em;
}

@media (width < 1000px) {
    .menu {
        display: none;
    }
    
    .search-div {
        display: none;
    }

    .menu-mobile {
        display: initial;
    }

    .search-mobile {
        display: initial;
    }
    .center{
        justify-content: space-between;
    }
}

@media (width < 600px) {
    .logo img{
        width: 100px;

    }
    .search-div {
        display:none;
    }
    .search-input-label{
        display: none;
    }
}

@media(width < 415px) {
    .logo img {
        width: 100px;
    }
}    
@media(width < 350px) {
    .center{
        padding: 1em 0;
    }
    .logo {
        display: none;
    }
}    
