.center {
    background-color: #111011;
    position: relative;
    z-index: 1;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 1em;
    box-shadow: 0px 7px 10px rgba(44, 43, 44, 0.873);
}

.logo img {
    width: 150px;
    padding-bottom: 0.5em;
    cursor: pointer;
}

.menu-list {
    display: flex;
    font-size: larger;
}

.item-menu {
    padding-left: 1em;
    font-weight: 400;
    list-style: none;
    cursor: pointer;
}

.menu-list li:hover{

    transition: 0.8s;
    color: rgba(147, 141, 147, 0.656);
    
}

.icons-log-cart-div {
    display: flex;
    justify-content: space-around;
}

.icons-search-menu-mobile {
    display: flex;
    justify-content: space-around;
}

.icons-log-cart {
    padding: 0 1em;

}

.img-log-cart {
    padding-left: 0.7em;
    width: 38px;
}

.label-log-cart {
    cursor: pointer;
}

.search-div {
    width: 20%;
    display: flex;
    align-items: center;
}
.search-input {
    width: 80%;
    height: 2em;
}
.search-input-label{
    margin-left: 5px;
    cursor: pointer;
}

.search-mobile {
    display: none;
    padding: 0 1em;
}

.menu-mobile {
    display: none;
    padding: 0 1em;
}

@media (width < 1000px) {
    .menu {
        display: none;
    }
    
    .search-div {
        display: none;
    }

    .menu-mobile {
        display: initial;
    }

    .search-mobile {
        display: initial;
    }
    .center{
        justify-content: space-between;
    }
}

@media (width < 600px) {
    .logo img{
        width: 100px;

    }
    .search-div {
        display:none;
    }
    .search-input-label{
        display: none;
    }
}

@media(width < 415px) {
    .logo {
        display: none;
    }
}