.main-div-itemcart{
    width: 100%;
    background-color: #ffffffb9;
    height: fit-content;
    box-shadow: 1px 1px 3px #0000006b;
    margin-top: 10px;
    color: #daabbd;
}
.wrapper-content-itemcart{
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.image-produto-itemcart{
    width: 80px;
    height: 100px;
}
.image-produto-itemcart img{
    max-width: 100%;
    height: 100%;
    padding: 4px;
}
.describe-produto-itemcart{
    padding: 5px;
}
.preco-produto-itemcart{
    padding: 5px;
    margin-top: auto;
    margin-left: auto;
}
.button-exclude-itemcart{
    width: 5%;
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    background-color:transparent;
    box-shadow: 1px 1px 3px #0000006b;
    border-radius: 4px;
    cursor: pointer;
}
.button-exclude-itemcart img{
    width:80%;
}