.loading-wrapper{
    width: 100%;
    padding: 2em;
    display: flex;
    justify-content: center;
}
.component-loading{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border:6px solid #f1c1d1;
    border-top-color: transparent ;
    animation: is-rotating 1s infinite ;      
}
@keyframes is-rotating{
    to{
        transform: rotate(1turn);
    }
}
