.main-div {
    background-color: #e9ebea9f;
    margin: 20px;
    position: relative;
}

.main-div>.titulo {
    margin: 20px 50px 50px 50px;
    text-align: center;
    border: 1px;
    border-block-end-style: solid;
    border-color: #dca8d6a8;
}

.main-div>.titulo h1 {
    padding-top: 1em;
    font-weight: 800;
    color: #d590a7;
    font-size: 34px;
    letter-spacing: 1px;
   
}

.main {
    padding: 3em;
    margin: 0 auto;
    width: 90%;
    overflow-x: hidden;
    background-color: #e5d6db;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal{
    position: relative;
    margin-top: 10px;
}
.main >.swiper-wrapper{
    
    padding:2em;
}