.marquee{
    position: relative;
    top: 0;
    width: 100%;
    height: 45px;
    background-color: #daabbd;
    border-top: 1px solid white;
}
.marquee marquee p{
    width: 100%;
    font-size: larger;
    display: flex;
    justify-items: center;
    align-items: center;
}
.marquee img{
    transform: scalex(-1);
    margin-top: .1em;
    margin-right: .5em;
    width: 30px;
}
.content-wrapper-descricao{
    background-color: #bababa34;
    display: grid;
    grid-template-columns:1fr 1fr ;
    gap: 40px;
    width: 98%;
    margin: 1em;
    padding: 2em;
    height: fit-content;
    
}
.image-produto-descricao{
    width: 100%;
    height: 80%;
}
.image-produto-descricao img{
    width: 100%;
}
.descricao-produto{
    width: 100%;
    height: max-content;
    padding: 1em;
    background-color: rgb(254, 254, 254);
}
.descricao-produto p{
    font-size: 20px;
    color: #daabbd;
    display: flex;
    justify-items: center;
    align-items: center;
    margin-bottom: 20px;
}
.descricao-produto h1{
    font-size: 48px;
    font-weight: bolder;
    color: #cd7093;
    margin-bottom: 20px;

}
.descricao-produto h3{
    font-size: 40px;
    font-weight: 900;
    color: #cd7093;
    margin-bottom: 20px;

}
.descricao-produto img{
    width: 24px;
    margin-right: 4px;
}
.buttons-wrapper{
    display: flex;
}
.buttons-quantidade{
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    border:1px solid #daabbd;
    padding: 5px;
    border-radius: 20px;
    margin-right: 32px ;
    
}
.buttons-quantidade button{
    border:1px solid #cd7093;
    box-shadow:1px 1px 2px #cd7093;
    background-color: transparent;
    width: 20px;
    border-radius: 6px;
    color: #cd7093;
}
.buttons-quantidade button:hover{
    background-color: #cd709418;
    transition: .2s;
}
.qtd{
    color: #cd7093;
}
.descricao-detalhada{
    width: 100%;
    padding: 2em;
    background-color: #f9dbe761;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
}
.campo-medidas{
    width: 90%;
    background-color: white;
    height: fit-content;
    border-radius: 10px;
    padding: .4em;
}
.item-descricao{
    width: 90%;
    height: fit-content;
    background-color: white;
    color: #daabbd;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: .4em;

}
.campo-medidas p{
    color: #daabbd;
}
@media (width < 725px){
    .content-wrapper-descricao{
        grid-template-columns: 1fr;
    }
}
@media (width < 450px){
    .descricao-produto p{
        font-size: 16px;
    }
}