@font-face {
    font-family: lora;
    src: url(Lora/static/Lora-Medium.ttf);
  }
.produto-wraper{
    background-color: #ececebf0;
    font-family:lora;
    box-shadow: 2px 3px 12px #00000042; 
    width: 200px;
}
.produto-wraper:hover:not(.produto){
    box-shadow: 15px 12px 9px #00000041;
    transition: 1.4s;
}
.produto{
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
    padding: 1em;
    cursor: pointer;
}
.produto h5{
    text-align: center;
}
.nome-produto{
    padding: 1em;
    color: #deaabb;
}
.valor-produto{
    color: #a97788;
    font-weight: 900;
}
.parcelamento{
    color: #a97788;
    font-size: 12px;
    padding: 12px
}
.produto img{
    width: 100%;
    opacity: 0.7;
    transition: .5s ease-out;
}
.produto img:hover{
    opacity: 1;
    scale: 1.05;
}
.button-comprar{
    padding: 8px;
    font-family:lora, serif;
    color: white;
    border: 0;
    font-size: 15px;
    font-weight: bold;
    background-color: #deaabb;
    cursor: pointer;
    border-radius: 50px;
}
.button-comprar:hover{
    background-color: #deaabb9e;
    transition: 0.2s;
}