.container {
    margin: 0 auto;
    margin-top: 10px;
}
.left-button-arrow, .right-button-arrow{
    position: absolute;
    top: 0;
    left: 1;
    right: auto;
    z-index: 2;
    bottom: 0;
    font-size:64px;
    color: rgba(33, 33, 33, 0.384);    
    border: none;
    background: linear-gradient(to left, transparent 0%, rgba(255, 255, 255, 0.658) 70%);
    cursor: pointer;
}
.right-button-arrow{
    left: auto;
    right: 0;
    background: linear-gradient(to right, transparent 0%, rgba(255, 255, 255, 0.658) 90%);
}
.left-button-arrow:hover,  .right-button-arrow:hover{
    color: rgba(10, 10, 10, 0.785);

}
.image-container {
    position: relative;
    display: flex;
    width: 1000px;
    
}
.image-container-wrap {
    display: flex;
    width: 100%;
    overflow: hidden;
}
.image-container img {
    width: 100%;
}
.div-slider-button{
    display: flex;
    justify-content:center;
    margin: 1em;
    padding-bottom: 1em ;
    border-bottom: 1px solid rgba(128, 128, 128, 0.401) ;
}
.slider-button{
    margin:0 1em;
}

.frete-wraper {
    background-color: rgb(253, 253, 253);
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
    padding: 1em 10em;
    margin: 0 auto;
}
.frete-wraper h4 {
    font-family: Helvetica;
    font-weight: 1000;
    text-align: center;
}

.frete-wraper p {
    opacity: 0.9;
    text-align: center;
}

.img-div {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (width < 1000px){
    .image-container{
        width: 800px;
    }
    .frete-wraper {
        padding: 1em;
        margin: 0 auto;
    }
    .frete-wraper img {
        width: 33px;
    }
    .frete-wraper p{
        font-size: smaller;
    }
}
@media (width < 800px) {
    .image-container{
        width: 600px;
    }
}
@media (width < 600px){
    .image-container{
        width: 500px;;
    }
    .left-button-arrow, .right-button-arrow{
        font-size: 30px;
    }
    .frete-wraper{
        padding: 1px 1px;
    }
    .frete-wraper img {
        width: 23px;
    }
    .frete-wraper p, h4{
        font-size:12px;
    }
    .pix-wraper{
        padding: 1em;
    }
    .fret-cart{
        padding: 1em;
    }
    .card-wraper{
        padding:1em
    }    
}
@media (width <500px) {
    .image-container{
        width: 100%;
    }
    .frete-wraper p, h4{
        font-size:8px;
    }
    .fret-cart{
        padding:0;
    }
    .card-wraper{
        padding:0;
    }
    .pix-wraper{
        padding:0;
    }
}

   
