.container {
    margin: 0; 
}
.image-container {
    width: 100%;
}
.image-banner{
    width: 100%;
    padding:2em .70em ;
    height: 400px;
    object-fit: cover;
}
.swiper-button-prev::after,
.swiper-button-next::after{
    color: rgba(232, 228, 228, 0.674);
    box-shadow: 1px 0px 10px black;
}
.swiper-pagination-bullet-active{
    background-color: rgb(12, 12, 12) !important; 
}
.div-slider-button{
    margin: 2em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.401) ;
}
.frete-wraper {
    background-color: rgb(253, 253, 253);
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
    padding: 1em 10em;
    margin: 0 auto;
}
.frete-wraper h4 {
    font-family: Helvetica;
    font-weight: 1000;
    text-align: center;
}
.frete-wraper p {
    opacity: 0.9;
    text-align: center;
}
.img-div {
    display: flex;
    justify-content: center;
    width: 100%;
}
.swiper-w.swiper-android .swiper-slide, .swiper-ios .swiper-slide, .swiper-wrapper{
    padding-bottom:2em !important;
}
@media (width < 1000px){
    .frete-wraper {
        padding: 1em;
        margin: 0 auto;
    }
    .frete-wraper img {
        width: 33px;
    }
    .frete-wraper p{
        font-size: smaller;
    }
}
@media (width <500px) {
    .swiper-button-prev::after,
.swiper-button-next::after{
    display: none;
}
}

   
