.container {
    margin: 0 auto;
    margin-top: 60px;

}
.image-container {
    height: unset;
}

.image-container img {
    width: 100%;
    height: 100%;
}

.frete-wraper {
    background-color: rgb(253, 253, 253);
    display: flex;
    color: black;
    justify-content: space-between;
    align-items: center;
    padding: 1em 10em;
    margin: 0 auto;
}

.frete-wraper h4 {
    font-weight: 900;
    text-align: center;
}

.frete-wraper p {
    opacity: 0.9;
    text-align: center;
}

.img-div {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media (width < 1000px){
    .frete-wraper {
        padding: 1em;
        margin: 0 auto;
    }
    .frete-wraper img {
        width: 33px;
    }
    .frete-wraper p{
        font-size: smaller;
    }
}
@media (width < 600px){
    .frete-wraper{
        padding: 1px 1px;
    }
    .frete-wraper img {
        width: 23px;
    }
    .frete-wraper p, h4{
        font-size:12px;
    }
    .pix-wraper{
        padding: 1em;
    }
    .fret-cart{
        padding: 1em;
    }
    .card-wraper{
        padding:1em
    }
    @media (width < 400px) {
        .frete-wraper p, h4{
            font-size:8px;
        }
    }
    

}